<?xml version="1.0" encoding="UTF-8"?>
<config>
	<logs>
		<log name="用户登陆" url="doLogin"/>
		<log name="用户-保存" url="user_save"/>
		<log name="用户-更新" url="user_update"/>
		<log name="用户-分配角色" url="user_doAllocRole"/>
	</logs>
	
	<menu name="总菜单">
		<menu name="系统管理">
			<menu name="用户管理" url="user_list">
				<perm name="用户-列表" url="user_list"/>
				<perm name="用户-新增" url="user_add"/>
				<perm name="用户-是否存在" url="user_exist"/>
				<perm name="用户-保存" url="user_save"/>
				<perm name="用户-修改" url="user_edit"/>
				<perm name="用户-更新" url="user_update"/>
				<perm name="用户-删除" url="user_delete"/>
				<perm name="用户-分配角色-页面" url="user_allocRole"/>
				<perm name="用户-分配角色" url="user_doAllocRole"/>
				<perm name="用户-重置密码" url="user_resetPwd"/>
				<perm name="自己-修改信息-页面" url="self_changeInfo"/>
				<perm name="自己-修改信息" url="self_doChangeInfo"/>
				<perm name="自己-修改密码-页面" url="self_changePwd"/>
				<perm name="自己-修改密码" url="self_doChangePwd"/>
			</menu>
			<menu name="角色管理" url="role_list">
				<perm name="角色-列表" url="role_list"/>
				<perm name="角色-新增" url="role_add"/>
				<perm name="角色-保存" url="role_save" log="true"/>
				<perm name="角色-修改" url="role_edit"/>
				<perm name="角色-更新" url="role_update"/>
				<perm name="角色-删除" url="role_delete"/>
			</menu>
			<menu name="日志管理" url="log_list">
				<perm name="日志-列表" url="log_list"/>
				<perm name="日志-删除" url="log_delete"/>
			</menu>			
		</menu>
	</menu>
</config>