<?xml version="1.0" encoding="UTF-8"?>
<!--
	debug="true" 	启动时输出配置加载信息
	scan="true" 	默认每分钟自动扫描
	scanPeriod="30 seconds" 	设置每30秒自动扫描,若没有指定具体单位则以milliseconds为标准(单位:milliseconds, seconds, minutes or hours)
-->
<configuration scan="true" scanPeriod="2 seconds">

	<contextName>MacroteaLogging</contextName>
	
	<property name="tip" value="信息:" />
	<!--tomcat webapps路径-->
	<property name="LOG_HOME" value="logs" />
	<!--项目名(我是直接在ROOT)-->
	<property name="logback.project.name" value="ROOT" />
	<!--日志模块名(如:默认(default),销售(sales),订单(orders)...)-->
	<property name="logback.logs.module.name" value="default" />
	
	<timestamp key="byDay" datePattern="yyyyMMdd"/>
	
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
       <!-- 日志输出编码 -->  
       <encoding>UTF-8</encoding>   
        <layout class="ch.qos.logback.classic.PatternLayout">   
             <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符--> 
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n   
            </pattern>   
        </layout>   
    </appender>   
    <!-- 按照每天生成日志文件 -->   
    <appender name="FILE"  class="ch.qos.logback.core.rolling.RollingFileAppender">   
        <encoding>UTF-8</encoding>   
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志文件输出的文件名-->
            <fileNamePattern>${LOG_HOME}/log-%d{yyyy-MM-dd}.txt</fileNamePattern>   
            <maxHistory>30</maxHistory>
        </rollingPolicy>   
        <layout class="ch.qos.logback.classic.PatternLayout">  
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符--> 
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n   
            </pattern>   
       </layout> 
        <!--日志文件最大的大小-->
       <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
         <maxFileSize>10MB</maxFileSize>
       </triggeringPolicy>
    </appender> 
	
	<logger name="org.springframework" level="INFO"/>
	<logger name="org.hibernate" level="INFO"/>
	
	<root level="DEBUG">
		<appender-ref ref="STDOUT" />   
        <appender-ref ref="FILE" /> 
	</root>
</configuration>
